.botao {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 32px;
    border: none;
    margin: 40px 0;
}

.botao:hover {
    color: #95FFD4;
}